<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean class="com.app.beans.Student" id="stdId1">
		<property name="name" value="Nilesh"></property>
		<property name="rollNo" value="1001"></property>
		<property name="email" value="nilesh@gmail.com"></property>
	</bean>
	
	<bean class="com.app.beans.Student" id="stdId2">
		<property name="name" value="Nikhil"></property>
		<property name="rollNo" value="1002"></property>
		<property name="email" value="nikhil@gmail.com"></property>
	</bean>

</beans>